{% extends 'base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5">Pofile</h1>

            {{ include('partials/_flash_messages.html.twig') }}

            <img src="https://www.gravatar.com/avatar/{{ app.user.email|trim|lower|md5 }}?&s=300" alt="{{ app.user.fullName }} - profile image" class="shadow rounded-circle">

            <h2 class="mt-5">{{ app.user.fullName }}</h2>
            <p class="lead text-muted">{{ app.user.email }}</p>
            <p class="small">Account created at &#128336; {{ app.user.createdAt|date("/d/m/Y H:i") }}</p>
            <nav class="mt-5">
                <a href="{{ path('account_edit') }}">Edit account</a> | <a href="">Change password</a>
            </nav>
        </div>
    </div>
{% endblock %}
