{% extends 'base.html.twig' %}

{% block title 'Pinterest Clone' %}

{% block body %}
    <h1>{{ pluralize(pins|length, 'Pin') }}</h1>

    {{ include('partials/_flash_messages.html.twig') }}

    {% for pin in pins %}
        <article>
            <h3><a href="{{ path('pin_show', {id: pin.id}) }}">{{ pin.title }}</a></h3>
            <p>{{ pin.description|u.truncate(25, '...', false) }}</p>
            <p>Submitted {{ pin.createdAt|date('D, Y F d') }} <small>({{ pin.createdAt|ago }})</small></p>
        </article>
    {% endfor  %}
{% endblock %}
