{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
<article>
    <h1>{{ pin.title }}</h1>
    <p>{{ pin.description }}</p>
</article>
    <nav>
        <a href="{{ path('pin_edit', {id: pin.id}) }}">Edit</a> |
        <a href="#pin-delete-form" onclick="
                event.preventDefault();
                confirm('Czy usunąć pin #{{ pin.id }}') &&
                document.querySelector('#pin-delete-form').submit()
        ">Delete</a> |
        <form id="pin-delete-form" action="{{ path('pin_delete', {id: pin.id}) }}" method="POST" style="display: none" >
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
        </form>
        <a href="{{ path('homepage') }}">Return to Homepage</a>
    </nav>
{% endblock %}
