{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">

            <article>
                <div class="card shadow mb-4">
                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/no-image.jpg')) }}"  class="card-img-top" alt="{{ pin.title }}"/>
                    <div class="card-body">
                        <h1 class="card-title text-muted h3">{{ pin.title }}</h1>
                        <p class="card-text">{{ pin.description }}</p>
                    </div>
                    <div class="card-footer text-right">
                        <small>Submitted {{ pin.createdAt|date('D, Y F d') }} ({{ pin.createdAt|ago }})<br> by [author]</small>
                    </div>
                </div>
            </article>

            <nav class="text-right">
                <a href="{{ path('pin_edit', {id: pin.id}) }}" class="btn btn-outline-primary">Edit</a>
                <a href="#pin-delete-form" onclick="
                        event.preventDefault();
                        confirm('Czy usunąć pin #{{ pin.id }}') &&
                        document.querySelector('#pin-delete-form').submit()
                        " class="btn btn-outline-danger">Delete</a>
                <form id="pin-delete-form" action="{{ path('pin_delete', {id: pin.id}) }}" method="POST" style="display: none" >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
                </form>
                <a href="{{ path('homepage') }}" class="btn btn-link">Go back &rarr;</a>
            </nav>
        </div>
    </div>
{% endblock %}
